@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply my-6 text-2xl text-text text-center font-bold tracking-wide;
}

h2 {
  @apply -mt-4 mb-6 text-center opacity-50 font-semibold;
}

button.square {
  @apply w-8 h-8 rounded inline-flex justify-center items-center;
}

.short,
.long {
  @apply my-1 px-4 py-2 rounded-lg text-lg font-semibold inline-flex justify-center items-center;

  i {
    @apply mr-2;
  }
}

.long {
  @apply w-full;
}

select.long {
  @apply w-full;
  border-right: 1rem /* "4" */ solid transparent;
}

select,
input {
  @apply bg-input;
}

input::placeholder {
  @apply text-text opacity-50;
}

textarea {
  @apply w-full h-36 px-2 py-1 bg-input rounded;
}

i {
  @apply text-inherit;
}

ul {
  @apply list-inside;

  li::marker {
    content: "  →  ";
  }
}

label.focal {
  @apply text-lg opacity-50 group-focus-within:opacity-100;
}

.check:has(input[type="checkbox"]) {
  @apply flex items-center;

  input[type="checkbox"] {
    @apply w-4 h-4 mr-2;
  }

  label {
    @apply font-semibold;
  }
}

@layer utilities {
  .enforced-rounded {
    @apply inline-block rounded;
  }
}

table.json {
  @apply my-4 enforced-rounded overflow-y-visible font-mono border-border border-2;

  tbody {
    @apply w-full inline-table;
  }

  tr:not(:last-child) {
    @apply border-b-2 border-border;
  }

  td:first-child {
    @apply px-2 border-r-2 border-border;
    overflow-wrap: anywhere;
  }
  
  td:last-child {
    @apply w-full px-2;
    overflow-wrap: anywhere;
  }
}

@media (min-width: 640px) {
  table.json td:first-child {
    overflow-wrap: normal;
  }
}

::-webkit-scrollbar {
  @apply w-2;
}

::-webkit-scrollbar-track {
  @apply bg-bg;
}

::-webkit-scrollbar-thumb {
  @apply bg-input hover:bg-scroller;
}
