@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply my-6 text-2xl text-center font-bold tracking-wide;
}

button.square {
  @apply w-8 h-8 rounded;
}

.long {
  @apply w-full my-1 px-4 py-2 rounded-lg text-lg font-semibold;
}

select.long {
  @apply w-full;
  border-right: 1rem solid transparent;
}

select,
input {
  @apply bg-input;
}

input::placeholder {
  @apply text-text opacity-50;
}

i {
  @apply text-text;
}

.enforced-rounded {
  @apply rounded;
  overflow: hidden;
  display: inline-block;
}

ul {
  @apply list-inside;
}

ul li::marker {
  content: "  →  ";
}

/* Scroller width */
::-webkit-scrollbar {
  @apply w-2;
}

/* Scroller track */
::-webkit-scrollbar-track {
  @apply bg-bg;
}

/* Scroller handle */
::-webkit-scrollbar-thumb {
  @apply bg-input;
}

/* Scroller handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-text;
}
